// Client
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=EMAIL_JS_PUBLIC_KEY
NEXT_PUBLIC_GENAI_USE_VERTEXAI=True
NEXT_PUBLIC_AZURE_REMINDER_API_URL=REMINDER_API_URL

// Chatbot
NEXT_PUBLIC_GEMINI_MODEL_DEFAULT=gemini-3-flash-preview
NEXT_PUBLIC_GEMINI_MODEL_FUNC_CALL=gemini-3-flash-preview
NEXT_PUBLIC_GEMINI_MODEL_QUERY=gemini-3-flash-preview
NEXT_PUBLIC_GEMINI_MODEL_FUNC_CALL_APPROVER=gemini-3-flash-preview
NEXT_PUBLIC_GEMINI_MODEL_RESUME=gemini-3-pro-preview

NEXT_PUBLIC_GOOGLE_CLOUD_PROJECT=PortfolioAI
NEXT_PUBLIC_GOOGLE_CLOUD_LOCATION=south-east-asia
// Local Dev
NEXT_PUBLIC_LOCAL_REMINDER_API_URL=http://localhost:5241/api
NEXT_PUBLIC_DEV_MODE=True

// Server
GEMINI_API_KEY=GEMINI_API_KEY
TXTAI_BASE_URL=TXT_AI_URL

// AWS Bucket
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_BUCKET_NAME=zs-portfolio-website-bucket

// Expire at EXPIRY_DATE
REMINDER_API_TOKEN=REMINDER_TEMP_TOKEN

RESUME_SERVER_URL=RESUME_SERVER_URL
RESUME_API_KEY=RESUME_API_KEY